<div class="{{ 'lg:fixed' if path == 'home' }}">
  <nav>
    <!--Logo etc-->
    <div class="">
      <a href="/" class=""> Logo</a>
    </div>

    <!--Toggle button (hidden on large screens)-->
    <button type="button" class="" aria-label="Menu">click me</button>

    <!--Menu-->
    <div class="nav-menu">
      {% if navigation.items %}

      <ul class="">
        {% for item in navigation.items %}
        <li class="">
          <a class="" href="{{ item.url }}">{{ item.text }}</a>
        </li>
        {% endfor %}
      </ul>

      {% endif %}
    </div>
  </nav>
</div>
